/* Home Page Button Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white; /* Light background color for the section */
    padding: 20px; /* Space inside the container */
    border-radius: 20px; /* Rounded corners for a modern look */
  }
  
  .button-container .text {
    font-size: 20px;
    color: black; /* Text color */
    margin-right: 100px; /* Space between text and button */
  }
  
  .button-container .home-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px; /* Adjusted for proper button size */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-container .home-btn:hover {
    background-color: #333; /* Darker shade for hover effect */
  }

  .button-container .bookbtn{
    background-color: black;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
  }