.scrolling-logos-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    background-color: black ;
  }
  
  .scrolling-logos {
    display: inline-block;
    animation: scroll 20s linear infinite;
  }
  
  .scrolling-logos img {
    display: inline-block;
    width: 200px; /* Adjust the width as needed */
    margin: 0 10px; /* Adjust the margin as needed */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(25);
    }
    100% {
      transform: translateX(-40%);
    }
  }
  